@font-face{
    font-family: 'Raleway';
    src: url(../assets/fonts/Raleway/Raleway-Medium.ttf);
}
body, html{
    font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
}
.bgbanner{
    position: fixed;
    z-index: -2;
}
#imagebg{
    height: 100vh;
    width: 100%;
    background: url(/imagebg);
    background-size: cover;
    background-position: center center;
}
#videobg{
    background-color: #222327;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100vh;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 10vw;
}
#backdrop{
    z-index: -1;
    max-width: 800px;
}
#backdrop img{
    max-width: 100%;
    max-height: 100%;
}
.pagecontent{
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}
#wfcontent{
    background-color: #e0e0e0;
    margin: 0 auto;
    padding: 50px;
    padding-bottom: 130px;
}
#wfcontent hr{
    border-top: 1px solid #555;
    margin-right: -50px;
    margin-left: -50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.loader{
    display: none;
}
.section{
    max-width: 1000px;
    margin: 0 auto;
}
.subtext{
    font-size: 0.8em;
}
.error{
    color: #ff0000;
    font-style: italic;
    font-size: 0.8em;
}
.address{
    font-size: 0.9em;
    text-decoration: none;
    display: inline-block;
}
.joinwf{
    font-weight: bold;
    font-size: 1.2em;
}
#sidebartitle{
    display: none;
}
.formnotify{
    display: none;
    color: #808000;
    padding: 10px;
    border: solid 1px;
    background-color: rgba(255, 255, 0, 0.1);
    margin: 10px;
    margin-bottom: 30px;
}
.slackinvitebox .formnotify{
    display: block;
}
.formpass{
    display: none;
    color: green;
    padding: 10px;
    border: solid 1px;
    background-color: rgba(0, 255, 0, 0.1);
    margin: 10px;
    margin-bottom: 30px;
}
.formpass a{
    cursor: pointer;
}
.formerror{
    display: none;
    color: red;
    padding: 10px;
    border: solid 1px;
    background-color: rgba(255, 0, 0, 0.1);
    margin: 10px;
    margin-bottom: 30px;
}
.logo{
    width: 150px;
    height: 30px;
}
.contact-name{
    font-size: 1.1em;
}
#contactform{
    font-size: 0.9em;
}
.captchacontainer{
    text-align: -webkit-center;
    text-align: -moz-center;
}
#recaptcha{
    position: absolute;
    left: 0;
    right: 0;
}
.slackinvitebox{
    display: none;
    opacity: 0;
    position: fixed;
    top: calc(50% - 250px);
    right: calc(50% - 250px);
    height: auto;
    width: 500px;
    z-index: 1040;
    background: #c0c0c0;
    padding: 20px;
    padding-top: 50px;
    border-radius: 5px;
    text-align: center;
}
.slackinvitebox .fa-times{
    position: absolute;
    top: 0;
    right: 0;
    color: red;
    padding: 5px;
    font-size: 1.5em;
    cursor: pointer;
}
.slackheader{
    display: block;
    font-size: 1.5em;
}
.slacklogo{
    height: 2em;
    width: 2em;
    margin-right: 0.5em;
}
#wfinviteimage{
    height: 12em;
}
#wfinvitetext{
    font-size: 1.25em;
    font-weight: bold;
}
#wfinvitecodename{
    display: none;
}
.youtubeembed{
    max-width: 560px;
    padding-bottom: 315px;
    margin: 0 auto;
}
.overlay{
    display: none;
    opacity: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1030;
}
@media (max-width: 768px){
    #imagebg{
        z-index: -1;
    }
    .navbar-brand{
        position: absolute;
        left: 50%;
        margin-left: -95px;
        margin-top: -5px;
    }
    #navbar{
        display: block;
        position: fixed;
        width: 100%;
        height: 200%;
        max-height: none;
        top: 0;
        left: 0;
        margin-left: 100vw;
        background: #ffffff;
    }
    .navbar-nav .navlink{
        color: #505050 !important;
    }
    #sidebartitle{
        display: block;
        height: 50px;
        padding: 7px 0px 0px 0px;
        padding-left: calc(50% - 75px);
        border-bottom: solid 2px #a0a0a0;
    }
    #closesidebar{
        margin-top: -7px;
    }
    .slackinvitebox{
        width: 100%;
        right: 0;
    }
    #wfcontent{
        font-size: 1.1em;
    }
    #wfcontent h3{
        font-size: 1.3em;
    }
}
@media (min-width: 768px){
    .navbar-nav{
        float: none !important;
        margin: 0 auto;
        display: table;
        padding-right: 150px;
    }
    #wfcontent{
        font-size: 1.3em;
    }
}
.navbar-brand .logo{
    opacity: 0.0;
}
.navdown .navlink{
    color: #505050 !important;
}
.navdown{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
}
.navlink{
    color: #e0e0e0 !important;
    font-weight: bold;
    font-size: 1.3em;
}
.navbar-nav>li>a{
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar-nav>li>a:hover{
    background-color: rgba(0, 145, 80, 1.0) !important;
    color: #e0e0e0 !important;
}
.activetab>a{
    background-color: rgba(0, 0, 0, 0.3);
}
.navbar-default{
    background-color: transparent;
    border: none;
    min-height: auto;
}
.navbar-toggle{
    border: none;
}
.email-logo{
    font-size: 0.9em;
}
.btn-facebook{
    color: #2f487c;
}
.btn-google{
    color: #d11718;
}

.img-responsive{
    margin: 0 auto;
    height: 150px;
    width: 150px;
}
