#banner{
	height: 100vh;
	background: #000000;
	display: flex;
	align-items: center;
	padding: 10vw;
}

#backdrop img{
	max-width:100%;
	max-height:100%;
}

.pagecontent{
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
}

#wfcontent{
	background-color: #e0e0e0;
	max-width: 1000px;
	margin: 0 auto;
	padding: 50px;
	font-size: 18px;
}

#wfcontent hr{
	border-top: 1px solid #555;
	margin-right: -50px;
	margin-left: -50px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.subtext{
	font-size: 15px;
}

.youtubeembed{
	max-width: 560px;
	padding-bottom: 315px;
	margin: 0 auto;
}




.navdown .navlink{
	color: #505050 !important;
}

.navlink{
	color: #e0e0e0 !important;
	font-weight: bold;
}

.navdown{
	background-color: #ffffff !important;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.7)
}

.active>a{
	background-color: rgba(0,0,0,0.3) !important;
}

.navbar-nav>.open>a{
	background-color: rgba(0,0,0,0.3) !important;
}

.navbar-default{
	background-color: transparent;
	border-color: transparent;
	min-height: auto;
}
